$container-width: 1240px;
$green-text-color: #202b21;
$buttons-color: #456f49;

$footer-bg-color: #648f64;
$gray-text-color: #2c2c2c;
$gray: #c5c5c5;

$border-color: #2a592e;
$light-green-color: #a4cba3;

$small-input-color: #6cac72;
$green-gray-color: #9aa89b;

$filter-color: #e7f1e8;
$light-green-medium: #b6d5b9;
